*{
  font-family: Poppins;
}

body {
  background-color: #f0f0f0;
  font-size: 18px;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input{
  font-family: Poppins;
  font-size: 16px;
  padding: 8px 12px;
  width: 90%;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:valid,
input:focus{
  border: 1px solid black;
}

button {
  font-family: Poppins;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #00c04b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#details {
  margin-top: 10px;
}